<p>Редактировать сотрудника</p>
<div class="container">
  <div>
    <div class="column">
      <div>Имя сотрудника</div>
      <div>Номер телефона</div>
      <div>Базовый оклад</div>
      <div>
        <div class="photo">
          <div>picture</div>
          <div>btn</div>
        </div>
      </div>
      <div>Логин</div>
    </div>
  </div>
  <div>
    <div class="column">
      <div>занимаемая должность</div>
      <div>email</div>
      <div>Номер карты</div>
      <div>
        <div class="photo">
          <div>picture</div>
          <div>btn</div>
        </div>
      </div>
      <div>Пароль</div>
    </div>
  </div>
</div>
<div class="buttons">
  <div>1</div>
  <div>2</div>
  <div>btn</div>
  <div>btn</div>
</div>
