.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    justify-items: stretch;
    padding: 1em;
  }
  
  .column {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    padding: 1em;
  }
  
  .photo {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    padding: 1em;
  }
  
  .buttons {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1em;
  }
  