.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    justify-items: stretch;
    padding: 0.5em;
    background-color: blue;
  }
  
  .column {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    background-color: brown;
  }
  
  .photo {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    background-color: chartreuse;
  }
  
  .buttons {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 3fr 1fr 1fr;
    background-color: aqua;
  }
  