<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="over">

        <p>
            <mat-toolbar>
                <span>A3Print CRM</span>
            </mat-toolbar>
        </p>

        <mat-nav-list>

            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing">Справочники</span>
                <mat-icon mat-list-icon>home</mat-icon>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                    expand_more</mat-icon>
            </mat-list-item>

            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">

                <a mat-list-item (click)="sidenav.close()" 
                    routerLink="/employees" routerLinkActive="active" ariaCurrentWhenActive="page">
                    Сотрудники
                </a>

                <a mat-list-item href="...">Клиенты</a>

                <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
                    <span class="full-width" *ngIf="isExpanded || isShowing">Финансы</span>
                    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}"
                        *ngIf="isExpanded || isShowing">expand_more</mat-icon>
                </mat-list-item>

                <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
                    <mat-list-item>Методы оплаты</mat-list-item>
                    <mat-list-item>SubSubmenu Item 2</mat-list-item>
                </div>
            </div>

        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <mat-toolbar-row>
                <button mat-icon-button id="menu" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span></span>

                <span class="example-spacer"></span>

                <div class="well" *ngIf="getUser()" style="font-size: small;">
                    {{ getUser() }}
                </div>
                <button mat-icon-button (click)="logout()" matTooltip="Выход">
                    <mat-icon class="example-icon">exit_to_app</mat-icon>
                </button>

            </mat-toolbar-row>
        </mat-toolbar>

        <mat-progress-bar mode="indeterminate" *ngIf="onProgress" color="accent"></mat-progress-bar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>