.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.router-link-active {
    color: white;
    font-weight: bold;
}

.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav {
    width: 250px;
}

.toolbar-title {
    margin: 0 16px 0 16px;
}

.mat-subheader {
    font-size: 18px;
    font-weight: 900;
}

.app-nav-list-icon {
    margin: 0 12px 0 12px;
}

.mat-toolbar {
    color: white;
}


.mat-toolbar {
    background: #3f51b5;
    color: #fff
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    user-select: none;
}

.full-width {
    width: 100%;
}

.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.menu-button.rotated {
    transform: rotate(180deg);
}

.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
}

.submenu.expanded {
    transform: scaleY(1);
}